body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2em;
    color: rgb(63, 14, 14);
}

h2 {
     color: rgb(0, 0, 0);
}
#título-principal {
    background-color: rgb(53, 5, 15);
    color: rgb(255, 255, 255);
    text-align: center;
}
.topico {
    text-align: right;
}
.texto {
text-justify: var(background-color);
}