body {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-top: 50px;
    
    }
     button {
        padding: 10px 20px;
        font-size: 16px;
        cursor:pointer;
        background-color: rgb(8, 36, 65);
        color: rgb(255, 255, 255);
        border:none;
        border-radius: 5px;
    }
    button:hover {
        background-color: rgb(12, 53, 80);
    }
    body {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    button {
       font-family: Georgia, 'Times New Roman', Times, serif;
       
    }